body {
    font-family: "Crimson Text", serif;
    background-color: #F2FFFC;
    line-height: 1.5;
    margin: 0;
}

h1, h2 {
    font-family: "Open Sans Condensed", sans-serif;
}

.titulo_principal {
    text-align: center;
    color: #ffffff;
    background-color: #851444;
    padding: 25px;
    border-bottom: 20px solid #000;
    margin: 0;
    font-size: 60px;
    text-transform: uppercase;
}

h2 {
   font-size: 30px;
}

p {
    text-align: justify;
    margin: 20px 0;
}

.citacoes {
    background-color: #D9E5E3;
    border: 10px solid #C2CCCA;
    width: 250px;
    box-sizing: border-box;
    margin: 20px 40px;
}

.barra_lateral {
    background-color: #3C1D3D;
    color: #F2FFFC;
    text-align: center;
}

.barra_lateral h1 {
   font-size: 30px;
   margin-bottom: 25px;
}

.redes_sociais li {
    display: inline-block;
}

.redes_sociais a {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 0px;
}
.github {
    background-image: url(github.png);
}
.twitter {
    background-image: url(twitter.png);
}
.linkedin {
    background-image: url(linkedin.png);
}

.rodape_pag {
    background-color: #000000;
    color: #f2fffc;
}

main a {
    color: #851944;
}

.barra_lateral a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
    text-transform: lowercase;
}

blockquote,aside,footer {
    padding: 20px;
}

.corpo_central {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0;
}

strong {
   font-weight: bold;
}

em {
   font-style: italic;
}
article {
    padding-bottom: 30px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
.link_leia_mais {
    font-size: 120%;
    padding: 10px;
    margin: 10px;
    display: block;
    text-align: center;
    background-color: #B3C1C1;
}
